body {
    background-color: black
}

.galaxy-canvas {
    padding: 25px;
}

.initial-condition-modifier {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;

}

.initial-condition-modifier label {
    color: white
}

.initial-condition-modifier input {
    width: 150px
}

.initial-condition-modifiers-label {
    color: whitesmoke !important;
}

.initial-condition-modifiers-form {
    color: whitesmoke;
}