body {
    background: black;
}

body::after {
    content: "";
    background: url(../../../public/galaxyBackground.jpg) center/100% fixed;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

canvas {}

.galaxy-canvas {
    position: absolute;
    top: -50%;
    left: 20%;
    bottom: 0;
    right: 0;
    z-index: -1;
    padding-top: 25px;
}

.galaxy-canvas.Simple.Orbit {
    top: -70%;
}

.galaxy-canvas.Random.Distribution {
    top: 10%;
    left: 30%;
}

.galaxy-canvas.Solar.System {
    top: -30%;
}

.galaxy-canvas.Solar.System.Collision {
    top: -80%;
    left: 30%;
}

.galaxy-canvas.Galaxy {
    top: -70%;
    left: 15%;
}

button {
    margin: 8px;
    background: rgba(178, 190, 181, .05) !important;
    border: rgba(178, 190, 181, .3) solid 2px !important;
    color: rgba(178, 190, 181, .8) !important;
}

input {
    width: 100% !important;
}

.galaxy-container {
    position: flex;
    position: absolute;
    padding: 25px;
}

.initial-condition-modifier {
    position: relative;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    background: rgba(178, 190, 181, .05);
    border: rgba(178, 190, 181, .3) solid 2px;
    border-radius: 5px;
    width: 250px;
}

.form-select,
.form-control {
    background: rgba(178, 190, 181, .05) !important;
    border: rgba(178, 190, 181, .3) solid 2px !important;
    color: rgba(178, 190, 181, .8) !important;
}

.form-check-input {
    width: 32px !important;
}

.form-check-input:checked {
    background-color: rgba(178, 190, 181, .05) !important;
    border: rgba(178, 190, 181, .3) solid 2px !important;
}

.form-label {
    color: rgba(178, 190, 181, .9) !important;
}

.initial-condition-modifier label {
    color: white
}

.initial-condition-modifier input {
    width: 150px
}

.initial-condition-modifiers-label {
    color: whitesmoke !important;
}

.initial-condition-modifiers-form {
    color: whitesmoke;
}